{% extends "base.html" %}
{% load static %}

{% block content %}

    <br>
    Aplikacja <b>Rozpoznawanie Stylów Malarskich z Użyciem Uczenia Głębokiego</b>, jest wynikiem pracy inżynierskiej o tym samym temacie.
    <br>
    Skierowana jest do zwykłego użytkownika, umożliwiając mu automatyczne identyfikowanie i klasyfikację różnorodnych stylów malarskich
    <br>
    w dziełach sztuki. Aplikacja oferuje intuicyjny interfejs, umożliwiający korzystanie z wytrenowanych modeli.
    <br>
    <br>


    <h3>Funkcje Aplikacji:</h3>

    <b>Import Obrazów:</b> Użytkownik może zaimportować pliki graficzne o formatach .jpg lub .png, otwierając drzwi do analizy ich stylu malarskiego.
    <br>
    <br>
    <b>Wybór Modelu:</b> Aplikacja oferuje trzy zaawansowane modele do analizy obrazów, w tym inteligentne algorytmy z wykorzystaniem transfer learningu oraz dwuetapowe podejście, co pozwala na wszechstronne porównanie rezultatów.
    <br>
    <br>
    <b>Rozpoznawanie Stylu:</b> Po zaimportowaniu obrazu, aplikacja przeprowadza skomplikowany proces rozpoznawania stylu malarskiego, w oparciu o wytrenowane modele uczenia głębokiego.
    <br>
    <br>
    <b>Podgląd Wyników:</b> Użytkownik otrzymuje klarowne informacje dotyczące rozpoznanego stylu malarskiego, umożliwiając zanurzenie się w sztukę w nowy, interaktywny sposób.
    <br>
    <br>
    <b>Zapisywanie Wyników:</b> Istnieje opcja zapisywania wyników analizy pod spersonalizowaną nazwą, co pozwala na łatwe zarządzanie zidentyfikowanymi obrazami.
    <br>


    <br>
    Aplikacja kładzie nacisk na prostotę obsługi, umożliwiając każdemu użytkownikowi cieszenie się z analizy stylów malarskich za pomocą zaawansowanych technologii uczenia maszynowego.
    <br>
    Dostęp do pełnej funkcjonalności aplikacji oraz kodu źródłowego znajduje się w repozytorium: <a href="https://github.com/kajkaj98/Inzynierka-2024" target="_blank" style="color: white;">Repozytorium GitHub</a>.
    <br>
    <br>

{% endblock content %}
